/* src/style/global.scss */
@use "./variables" as v;

:root {
  font-family: v.$font-base;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: v.$page-bg;
  color: v.$text-main;
  transition: background-color 0.3s ease, color 0.3s ease;
}